/* 공통 */
* { box-sizing: border-box; margin: 0; padding: 0; }
li { list-style:none; }
address,em,i { font-style:normal; }
a { text-decoration: none; color:#333; }
html { }
body{ font-family: 'Pretendard', 'GmarketSans', 'Arial', sans-serif; }

