/* 상세페이지 css */
body { margin: 0; background: #111; color: white; }

/*=============================*/

/* 탭 */
.tabs{
    display:flex;
    gap:8px;
    flex-wrap:wrap;
    /* margin-bottom:30px; */
}

.tab {
  padding: 10px 16px;
  background: #222;
  border:1px solid #333;
  border-radius: 999px;
  cursor: pointer;
  transition:all .3s; 
  font-size:15px;
}

.tab.active {
  background: red;
  border:1px solid red; 
}

.tab:hover { background:red; border:1px solid red; }

/* 레이아웃 */
.container{
    display:flex;
    gap:60px;
    padding:40px;
    height:100vh;
    box-sizing:border-box;
}

/* 왼쪽 */
.left{
    width:350px;
    flex:none;
    display:flex;
    flex-direction:column;
    overflow:hidden;
}
/* 텍스트 */
.text-area { text-align:center; padding : 30px 0; }
.text-area h6 {
    /*display:none;*/
    font-size:20px;
    /* font-style: italic; */
    font-family: 'Brygada 1918', serif;
    margin-bottom:20px; 
}

.text-area h2 {
  margin: 0;
  font-size: 28px;
}

.text-area p {
  opacity: 0.7;
  line-height: 1;
  display:none; /*설명 가림 - 나중에 설명 추가하고 싶을 시 삭제*/
}

/* 폰 이미지 */
.phone{
    flex:1;
    position:relative;
    overflow:hidden;
}
.phone img{
    position:absolute;
    left:50%;
    bottom:-120px;
    transform:translateX(-50%);

    height:125%;
    width:auto;
}

/* 오른쪽 */
.right{
    flex:1;
    height:100%;
}

/* 4분할 */
.grid{
    height:100%;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    align-items:stretch;
}

.block{
    height:100%;
    background-size:cover;
    background-repeat:no-repeat;
    border-radius:12px;
}

/* 모바일 */
.mobile-full {
  display: none;
}

.mobile-full img {
  width: 100%;
}

/* 반응형 */
@media (max-width: 768px) {
    .tabs { 
        padding : 20px; justify-content : center; top:0;
        gap : 5px; 
        width:100%;
        position:fixed;
        background : rgba(0,0,0,0.7);
        border-bottom:1px solid #333; 
    }
    .tab { font-size:13px; }
  .text-area { padding : 130px 20px 30px 20px; }

  .container {
    flex-direction: column;
    padding: 0;
    gap: 30px;
  }

  .left {
    order: 1;
    width:100%;
  }

  .right {
    order: 2;
  }

  .grid {
    display: none;
  }

  .phone {
    display: none;
  }

  .mobile-full {
    display: block;
  }
}