/* 홈페이지 제작 css */
body{ height:100%; overflow:hidden; background:#111; color:#fff; }

/*=============================*/

.portfolio-wrap{ 
    height:100vh;
    max-width:1800px;
    margin:auto;
    padding:40px;
    display:flex;
    flex-direction:column;
}

.portfolio-header{
    margin-bottom:25px;
}

.portfolio-header h2{
    font-size:56px;
    font-weight:800;
}

.portfolio-header p{
    color:#888;
    margin-top:10px;
}

.portfolio-layout{
    display:flex;
    gap:40px;
        flex:1;

    min-height:0;
}

.logo-area{
    width:40%;

    height:100%;

    overflow-y:auto;

    padding-right:10px;
}
.logo-area::-webkit-scrollbar{
    width:0;
}

.logo-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:10px;

}

.logo-item{
    /* aspect-ratio:1/1; */
    aspect-ratio:270/130;
    background:#fff;
    border:1px solid #222;
    border-radius:18px;
    overflow:hidden;
    cursor:pointer;
    opacity:0.1;
    transition:.4s;
}

.logo-item:hover{
    /* transform:translateY(-5px); */
    border-color:#555;
    opacity:1;
}
.logo-item:hover img {
    filter:none;
    opacity:1; 
}

.logo-item img{
    width:100%;
    height:100%;
    object-fit:contain;
    padding:20px;
    filter:grayscale(100%);
    opacity:.7;
}

.logo-item.active{
    border:1px solid #fff;
    box-shadow:0 0 25px rgba(255,255,255,.12);
    opacity:1;
}

.logo-item.active img{
    filter:none;
    opacity:1;
}

.preview-area{

    width:60%;

    position:sticky;

    top:30px;

    height:fit-content;
}

.macdesign { }
.macdesign img { width:100%; display:block; }

.preview-card{

    background:#181818;

    border-radius:0 0 10px 10px;

    overflow:hidden;

    /* border:1px solid #222; */
}

.preview-image{

    position:relative;

    height:52vh;

    overflow:hidden;

    background:#000;
}

.preview-image img{

    position:absolute;

    top:0;
    left:0;

    width:100%;

    height:auto;

    transition:
    transform 10s linear,
    opacity .4s ease;
}

/* .glow{

    position:absolute;

    inset:0;

    pointer-events:none;

    background:
    radial-gradient(
    circle at center,
    rgba(255,255,255,.12),
    transparent 60%);
} */

.preview-content{
    display:flex; 
    justify-content: space-between;
    align-items: center;
    padding:35px;
}

.meta{

    color:#777;

    margin-bottom:15px;
}

.preview-content h3{

    font-size:25px;
    font-family: 'Pretendard', 'GmarketSans', 'Arial', sans-serif; 
    /* margin-bottom:20px; */
}

.tags{

    display:flex;

    flex-wrap:wrap;

    gap:8px;

    margin-bottom:25px;
}

.tags span{

    padding:8px 14px;

    background:#222;

    border-radius:100px;

    font-size:13px;
}

.url{

    color:#999;

    margin-bottom:25px;

    word-break:break-all;
}

.visit-btn{

    display:inline-flex;

    align-items:center;

    justify-content:center;

    height:55px;

    padding:0 30px;

    border-radius:999px;

    border:0.5px solid #fff;
    color:#fff;

    /* font-weight:700; */
    transition:all .3s;
}

.visit-btn:hover{
    background:red;
    border:0.5px solid red; 

    /* transform:translateY(-2px); */
}

@media(max-width:1200px){

    /* .portfolio-layout{

        flex-direction:column;
    } */

    .portfolio-header p { text-align:center; }
    .preview-area{ display:none; }
    .logo-area { width:100%; }
    .logo-grid{ grid-template-columns:repeat(5,1fr); }

}

@media(max-width:768px){

    .portfolio-wrap{

        padding:40px 20px;
    }

    .portfolio-header h2{

        font-size:34px;
    }

    .logo-grid{

        grid-template-columns:repeat(4,1fr);
    }



}