/* SNS 마케팅 css */
body{ background:#111; color:#fff; }

/*=============================*/

img{ display:block; width:100%; }

.container{
    width:100%;
    max-width:1600px;
    margin:auto;
    padding:80px 20px;
}

.account-tab{

    display:flex;
    justify-content:center;
    gap:10px;

    margin-bottom:40px;

}

.tab-btn{
    font-size:14px;
    background:#222;
    border:1px solid #333;

    color:#fff;

    padding:12px 24px;

    cursor:pointer;

    transition:.3s;

}

.tab-btn.active{
    background:red;
    border:1px solid red;
    color:#fff;
}
.tab-btn:hover { border:1px solid red; background:red; }

/* =========================
   PROFILE
========================= */

.profile{
    text-align:center;
    margin-bottom:60px;
}

.profile p{
    color:#999;
    padding : 30px; 
    line-height:1.6;
}

.insta-name { 
    font-family: 'Paperozi', 'Pretendard', 'GmarketSans', 'Arial', sans-serif;
    font-weight:700;
    font-size:28px;
    color:#fff;
}

.insta-btn{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    padding:12px 20px;
    border-radius:999px;
    border:0.5px solid #fff;
    font-size:14px;
    font-weight:500;
    transition:.3s;
}

.insta-btn:hover{
    background:red;
    border:0.5px solid red;

}

/* =========================
   FEED
========================= */

.feed-wrap{

    display:grid;

    grid-template-columns:
    repeat(6,1fr);

    gap:8px;

}

.feed-item{

    position:relative;

    overflow:hidden;

    cursor:pointer;

    aspect-ratio:3/4;

    background:#222;

}

.feed-item img{

    width:100%;
    height:100%;

    object-fit:cover;
    object-position:center;

    transition:.4s;

}

.feed-item:hover img{

    transform:scale(1.05);

}

.feed-item::after{

    content:'';

    position:absolute;
    inset:0;

    background:
    rgba(0,0,0,.03);

}

.feed-icon{

    position:absolute;

    top:10px;
    right:10px;

    width:16px;
    height:16px;

    z-index:5;

    pointer-events:none;

        filter:drop-shadow(
        0 0 3px rgba(0,0,0,.6)
    );


}

.feed-icon img{

    width:100%;
    height:100%;

    object-fit:contain;

}



/* =========================
   MODAL
========================= */

.modal{

    position:fixed;

    inset:0;

    background:
    rgba(0,0,0,.95);

    display:none;

    justify-content:center;
    align-items:center;

    z-index:9999;

}

.modal.active{

    display:flex;

}

.close{

    position:absolute;

    top:20px;
    right:30px;

    background:none;
    border:none;

    color:#fff;

    font-size:42px;

    cursor:pointer;

}

/* =========================
   IMAGE POPUP
========================= */

.modal-content{

    width:min(90vw,500px);

}

.popupSwiper{

    width:100%;

}

.popupSwiper .swiper-slide{

    aspect-ratio:4/5;

    display:flex;

    justify-content:center;
    align-items:center;

}

.popupSwiper .swiper-slide img{

    width:100%;
    height:100%;

    object-fit:contain;

}

/* =========================
   SWIPER
========================= */

.swiper-button-next,
.swiper-button-prev{

    color:#fff;

}

.swiper-pagination-bullet{

    background:#fff;

}

/* =========================
   VIDEO
========================= */

.modal video{

    width:min(90vw,420px);

    max-height:80vh;

    display:block;

}

/* =========================
   TABLET
========================= */

@media(max-width:1024px){

    .feed-wrap{

        grid-template-columns:
        repeat(4,1fr);

    }

}

/* =========================
   MOBILE
========================= */

@media(max-width:768px){

    .container{

        padding:40px 10px;

    }
    .profile{

        margin-bottom:30px;

    }

    .profile a{

        font-size:22px;

    }


    .porfile p { font-size : 13px; word-break: keep-all; }
    .feed-wrap{

        grid-template-columns:
        repeat(3,1fr);

        gap:4px;

    }

    .modal-content{

        width:min(94vw,450px);

    }

}